---
import AlpineJSCounter from '../components/AlpineJSCounter.astro';
import SolidJSCounter from '../components/SolidJSCounter';
import ReactCounter from '../components/ReactCounter';
import SvelteCounter from '../components/SvelteCounter.svelte';
import VueCounter from '../components/VueCounter.vue';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div class='col-span-6'>
		<ReactCounter client:visible />
	</div>
	<div class='col-span-6'>
		<SolidJSCounter client:visible />
	</div>
	<div class='col-span-6'>
		<SvelteCounter client:visible />
	</div>
	<div class='col-span-6'>
		<VueCounter client:visible />
	</div>
	<div class='col-span-12'>
		<AlpineJSCounter />
	</div>
</Layout>
