---
export interface Props {
	initialCount?: number;
};

const { initialCount = 0 } = Astro.props;
---
<div 
x-data={`{ count: ${initialCount} }`}
>
	<button 
    title="A AlpineJS Component" 
    x-on:click="count++"
    >
        AlpineJS State: <label x-text="count"></label>
    </button>
</div>
