<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta
			name='viewport'
			content='width=device-width'
		/>
		<link
			rel='icon'
			type='image/svg+xml'
			href='https://raw.githubusercontent.com/MaDrCloudDev/projectsImages/master/MaDrLogo.svg'
		/>
		<meta
			name='generator'
			content={Astro.generator}
		/>
		<meta
			name='description'
			content='Simple React, Svelte, & Vue counter components with state & shared state in Astro.'
		/>
		<title>astroSharedState | MaDr</title>
	</head>
	<body>
		<h1 class='text-yellow-400 text-2xl'>astroSharedState</h1>
		<h2>
			Simple React, SolidJS, Svelte, & Vue counter components with state &
			shared state in Astro 2.0.6. Styled with TailwindCSS. Click the buttons to
			increase the count.
		</h2>
		<slot />
	</body>
</html>

<style>
	html {
		@apply bg-black text-white max-w-2xl mx-auto text-center text-2xl;
	}
</style>
