---
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="https://raw.githubusercontent.com/MaDrCloudDev/projectsImages/master/MaDrLogo.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Simple React, Svelte, & Vue counter components with state & shared state in Astro.">
		<title>astroSharedState | MaDr</title>
	</head>
	<body>
		<h1>astroSharedState</h1>
		<h2>Simple React, Svelte, & Vue counter components with state & shared state in Astro. Click the buttons to increase the count.</h2>
		<slot />
	</body>
</html>
<style is:global>
	button {
		color: white;
		background: black;
		border-style: outset;
		border-color: white;
		border-width: .3rem;
		font-size: x-large;
		margin: 1rem;
	}
	h1 {
		text-align: center;
		color: #338eef;
		margin: 1rem;
	}
	h2 {
		text-align: center;
		color: #ffff00;
		margin: 1rem;
	}
	html {
		text-align: center;
		background-color: black;
		color: white;
	}
</style>
