---
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>astroSharedState</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	button {
		color: white;
		background: black;
		border-style: outset;
		border-color: white;
		border-width: .3rem;
		font-size: xx-large;
		margin: 1rem;
	}
	html {
		background-color: black;
	}
</style>
