---

---

<footer class='text-center mt-6 pt-3 flex-shrink-0'>
	<p class='text-gray-400 text-sm'>
		<a
			href='https://github.com/madrclouddev'
			target='_blank'
			rel='noopener noreferrer'
			class='hover:text-gray-300 transition-colors'
			>MaDrCloudDev</a
		> • {new Date().getFullYear()}
	</p>
</footer>
